<div class="mat-dialog-container">
  <button mat-button id="error-close-btn" class="close-button" mat-dialog-close matTooltip="Close">&#x2573;</button>
  <h1 mat-dialog-title>
    ERROR
  </h1>

  <div mat-dialog-content>
    <p *ngIf="typeOf(data) === 'string'">{{ data }}</p>
    <ng-container *ngIf="data.error">
      <p *ngIf="typeOf(data.error) === 'string'">{{ data.error }}</p>
      <p *ngIf="typeOf(data.message) === 'string'">{{ data.message }}</p>
      <p *ngIf="typeOf(data.error) !== 'string'">{{ data.statusText }}</p>
    </ng-container>
  </div>
</div>