<h4>Summary</h4>

<table>
  <tr>
    <td class="none">
      </td>
    <td class="header">FP32</td>
    <td class="header">quantized - config1</td>
    <td class="header">quantized - config2</td>
  </tr>
  <tr>
    <td class="header">throughput</td>
    <td class="cell">5000</td>
    <td class="cell">237</td>
    <td class="cell">299</td>
  </tr>
  <tr>
    <td class="header">latency</td>
    <td class="cell">100</td>
    <td class="cell">200</td>
    <td class="cell">150</td>
  </tr>
  <tr>
    <td class="header">accuracy</td>
    <td class="cell">0.7</td>
    <td class="cell">0.8</td>
    <td class="cell">0.6</td>
  </tr>
</table>