<div class="right">
  <button mat-raised-button class="tree-button" color="primary" (click)="pruningTree.treeControl.collapseAll()">
    <mat-icon class="mat-icon-rtl-mirror">
      {{ 'expand_less' }}
    </mat-icon>
    Collapse all
  </button>
  <button mat-raised-button class="tree-button" color="primary" (click)="pruningTree.treeControl.expandAll()">
    <mat-icon class="mat-icon-rtl-mirror">
      {{ 'expand_more' }}
    </mat-icon>
    Expand all
  </button>
</div>
<ng-container *ngIf="displayDataReady">
  <mat-tree #pruningTree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <table *ngIf="!pruningParamEditable[node.name]">
        <tr>
          <td>{{ node.name | underscoreToSpace | capitalLetter }}:</td>
          <th class="tree-value">{{ node.value }}</th>
        </tr>
      </table>
      <ng-container *ngIf="editableParams.includes(node.name) && editable">
        <app-field *ngIf="pruningParamEditable[node.name]" [field]="fieldBase[node.name]" [form]="pruningFormGroup">
        </app-field>
        <button *ngIf="!pruningParamEditable[node.name]" mat-icon-button
          (click)="fieldBase[node.name].value = node.value; pruningParamEditable[node.name] = true"
          [matTooltip]="'Edit ' + node.name">
          <img src="./../../assets/016-edit-blue.svg">
        </button>
        <button *ngIf="pruningParamEditable[node.name]" mat-raised-button color="accent"
          class="width-200 edition-button" (click)="savePruningParam(); pruningParamEditable[node.name] = false"
          [matTooltip]="'Save ' + node.name">
          <img src="./../../assets/056a-save-solid-white.svg">
          Save changes
        </button>
        <button *ngIf="pruningParamEditable[node.name]" mat-raised-button color="warn" class="width-200 edition-button"
          (click)="pruningParamEditable[node.name] = false" [matTooltip]="'Reset ' + node.name + ' changes'">
          &#x2715; Reset changes
        </button>
      </ng-container>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        {{ node.name | underscoreToSpace | capitalLetter }}
      </div>
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>

</ng-container>