--find-links https://download.pytorch.org/whl/torch_stable.html
accelerate==0.21.0
dynast==1.6.0rc1
git+https://github.com/intel/auto-round.git@d02f94d4b085523df3b313863fb07f83b2989cce
horovod
intel-extension-for-pytorch
intel-tensorflow>=2.12.0
mxnet-mkl
neural-compressor
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.11'
optimum
peft
tensorflow-addons
tf2onnx
tf_slim
torch
torchvision
transformers>=4.30.2
xgboost
