intel-tensorflow==2.1.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cpu
torchvision==0.6.0+cpu
pytorch-ignite
mxnet-mkl==1.6.0
numpy
ilit
pandas
tf_slim
pillow
onnx
onnxruntime
transformers