intel-tensorflow==2.1.0
onnx
onnxruntime
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cpu
torchvision==0.6.0+cpu
mxnet-mkl==1.6.0
numpy
lpot
pandas
tf_slim
pillow>=8.2.0
transformers
tensorflow_model_optimization
