diffusers==0.38.0
pandas==2.2.2
clip==0.2.0
torchmetrics==1.8.2
transformers==5.15.0
sentencepiece
safetensors==0.8.0rc0
tabulate==0.10.0
protobuf
torch==2.13.0
torchvision==0.28.0
torchao==0.17.0
git+https://github.com/zai-org/ImageReward.git@78f8051059b34fef8e0032ccb40561c23a2ddbbb
