diffusers==0.38.0
pandas==2.2.2
clip==0.2.0
image-reward==1.5
torchmetrics==1.8.2
transformers==5.0.0rc3
sentencepiece
safetensors==0.8.0rc0
tabulate==0.10.0
protobuf
torch==2.12.1
torchvision==0.25.0
torchao==0.16.0
