# Please make sure nerual_compressor has been installed and corresponding packages have been installed
# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
six
ipdb
#Data processing
h5py
nltk
progressbar
#Others
pyyaml
onnxruntime
git+https://github.com/NVIDIA/dllogger
