accelerate
datasets
transformers
seqeval
tensorboard
sentencepiece
timm
Pillow
einops
textdistance
shapely
protobuf==5.29.6
torch
torchvision
setuptools
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.11'
pytesseract
#detectron2  # TODO export require it, resolve it later
# git+https://github.com/facebookresearch/detectron2.git