# Quantization stack used by s2v activation QDQ
neural-compressor-pt
auto-round

# Utilities
pillow
einops
requests

# S2V evaluation metrics (evaluate_manifest_no_gt.py)
scipy

# Wan 2.2 dependencies
torch>=2.4.0
torchvision>=0.19.0
torchaudio
#opencv-python>=4.9.0.80
diffusers>=0.31.0
transformers>=4.49.0,<=4.51.3
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio[ffmpeg]
easydict
ftfy
dashscope
imageio-ffmpeg
#flash_attn
numpy>=1.23.5,<2
peft
huggingface_hub
safetensors


# Wan2.2 s2v runtime dependencies
openai-whisper
HyperPyYAML
onnxruntime
inflect
wetext
omegaconf
conformer
hydra-core
lightning
rich
gdown
matplotlib
wget
pyarrow
pyworld
librosa
decord
modelscope
