onnx
onnxruntime
torch
torchvision
onnxruntime-extensions; python_version < '3.10'
pillow>=8.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm
Cython
matplotlib
editdistance
scipy
scikit-image
PyMuPDF
