[submodule "engine/executor/third_party/gflags"]
	path = engine/executor/third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "engine/executor/third_party/glog"]
	path = engine/executor/third_party/glog
	url = https://github.com/google/glog.git
[submodule "engine/executor/third_party/googletest"]
	path = engine/executor/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "engine/executor/third_party/pybind11"]
	path = engine/executor/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "engine/executor/third_party/oneDNN"]
	path = engine/executor/third_party/oneDNN
	url = https://github.com/oneapi-src/oneDNN.git
[submodule "engine/executor/third_party/yaml-cpp"]
	path = engine/executor/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "engine/executor/third_party/boost/libs/assert"]
	path = engine/executor/third_party/boost/libs/assert
	url = https://github.com/boostorg/assert.git
[submodule "engine/executor/third_party/boost/libs/core"]
	path = engine/executor/third_party/boost/libs/core
	url = https://github.com/boostorg/core.git
[submodule "engine/executor/third_party/boost/libs/move"]
	path = engine/executor/third_party/boost/libs/move
	url = https://github.com/boostorg/move.git
[submodule "engine/executor/third_party/boost/libs/config"]
	path = engine/executor/third_party/boost/libs/config
	url = https://github.com/boostorg/config.git
[submodule "engine/executor/third_party/boost/libs/container"]
	path = engine/executor/third_party/boost/libs/container
	url = https://github.com/boostorg/container.git
[submodule "engine/executor/third_party/boost/libs/intrusive"]
	path = engine/executor/third_party/boost/libs/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "engine/executor/third_party/boost/libs/static_assert"]
	path = engine/executor/third_party/boost/libs/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "engine/executor/third_party/boost/libs/type_traits"]
	path = engine/executor/third_party/boost/libs/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "engine/executor/third_party/boost/libs/interprocess"]
	path = engine/executor/third_party/boost/libs/interprocess
	url = https://github.com/boostorg/interprocess.git
[submodule "engine/SparseLib/third_party/glog"]
	path = engine/SparseLib/third_party/glog
	url = https://github.com/google/glog.git
[submodule "engine/SparseLib/third_party/googletest"]
	path = engine/SparseLib/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "engine/SparseLib/third_party/xbyak"]
	path = engine/SparseLib/third_party/xbyak
	url = https://github.com/herumi/xbyak.git
