deprecated
jax   # >=0.8.1 TODO: decide version
jaxlib   # >=0.8.1 TODO: decide version
keras==3.12.0  # fix the issue with version 3.13.0   
keras-hub
numpy
opencv-python-headless
Pillow
prettytable
psutil
py-cpuinfo
pycocotools; sys_platform != 'win32' or python_version > '3.8'
pycocotools-windows; sys_platform == 'win32' and python_version <= '3.8'
pydantic
schema
scikit-learn
