deprecated>=1.2.13
jax>=0.10.0
keras>=3.14.1
keras-hub>=0.29.1
numpy
opencv-python-headless
Pillow
prettytable
psutil
py-cpuinfo
pycocotools; sys_platform != 'win32' or python_version > '3.8'
pycocotools-windows; sys_platform == 'win32' and python_version <= '3.8'
pydantic
schema
scikit-learn
sentencepiece
tokenizers
