neural-compressor
numpy<=1.23.5
nibabel==5.0.0
SimpleITK==2.2.1
batchgenerators==0.21.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.6.0+cpu
torchvision>=0.7.0+cpu
scipy>=1.10.0
scikit-learn
