numpy
matplotlib
tensorflow
tensorboard
terminaltables
pillow>=8.2.0
tqdm
neural-compressor
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cpu
torchvision==0.6.0+cpu

rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability