transformers==4.16.0
onnx>=1.7.0; python_version < '3.10'
onnx==1.13.0; python_version == '3.10'
onnxruntime==1.8.0; python_version < '3.10'
onnxruntime==1.12.0; python_version == '3.10'
coloredlogs
torch
sympy
onnxruntime-extensions; python_version < '3.10'
