datasets
transformers==4.12.5
seqeval==1.2.2
tensorboard==2.7.0
seqeval==1.2.2
sentencepiece
timm==0.4.12
Pillow
einops
textdistance
shapely
protobuf==3.20.0
torch==1.10.0
torchvision==0.11.1
setuptools==56.1.0
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.10'