accelerate
datasets
transformers
seqeval
tensorboard
sentencepiece
timm
Pillow
einops
textdistance
shapely
protobuf==3.20.0
torch==1.10.0
torchvision==0.11.1
setuptools==56.1.0
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.10'
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2