auto-round @ git+https://github.com/intel/auto-round.git@main
auto-round-lib
compressed-tensors >= 0.15.0
datasets
expecttest
numpy
peft
prettytable
psutil
pytest
torchao
torchvision
transformers >= 5.5.0
accelerate
