git+https://github.com/intel/intel-extension-for-transformers.git@b8302f99a93e5f09a80431cee2fb384755062664
git+https://github.com/EleutherAI/lm-evaluation-harness.git@83dbfbf6070324f3e5872f63e49d49ff7ef4c9b3
torch
transformers
accelerate
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.11'
datasets
optimum
evaluate
