@import './../../variables.scss';

.example-spacer {
  flex: 1 1 auto;
}

.intel-logo {
  width: 70px;
  margin-right: 20px;
}

.logo {
  width: 30px;
  margin-right: 5px;
}

.title {
  color: $dark-blue;
  cursor: pointer;
}

.workspace-editable {
  width: 50%;
  font-size: 11px;
}

.workspace-title {
  color: $blue;
  font-weight: 500;
}

.workspace {
  color: black;
  font-size: 12px;
  font-weight: 400;
}

.browse {
  margin-left: 10px;
}

.active {
  background-color: $pale-blue;
}
