<mat-toolbar>
  <span class="example-spacer">
    <p class="workspace">
      <a class="workspace-title"> Workspace: </a>
      {{ this.workspacePath }}
      <button mat-raised-button color="primary" class="browse" (click)="openDialog()">
        Change</button>
    </p>
  </span>
  <img class="intel-logo" src="./../../assets/logo-energyblue-72px.svg">
  <img class="logo" src="./../../assets/298b-workflow-process-outlined.svg">
  <span class="title">
    <p (click)="openUrl('https://github.com/intel/lpot')">
      Low Precision Optimization Tool
    </p>
  </span>
  <span class="example-spacer"></span>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="'/my-models'" routerLinkActive="active">
    <img class="icon" src="./../../assets/001b-home-outlined.svg">
    My models
  </a>
  <a mat-tab-link [routerLink]="'/model-zoo'" routerLinkActive="active">
    <img class="icon" src="./../../assets/008b-plus-outlined.svg">
    Model zoo
  </a>
</nav>

<footer class="footer">
  © Intel Corporation
</footer>