accelerate
datasets >= 2.0
diffusers
peft
protobuf
sentencepiece != 0.1.92
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
torch==2.7.1+cpu
transformers
bitsandbytes  #baichuan
transformers_stream_generator
tiktoken  #qwen
einops  #qwen
auto_round
lm-eval==0.4.3
numba
tbb
