accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
transformers
bitsandbytes  #baichuan
transformers_stream_generator
tiktoken  #qwen
einops  #qwen
auto_round
lm-eval==0.4.3
huggingface_hub
numba
tbb
intel-extension-for-pytorch==2.4.0
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
oneccl_bind_pt==2.4.0
