accelerate
protobuf
sentencepiece != 0.1.92
datasets >= 1.1.3
peft
torch >= 1.10
transformers
pytest
wandb
einops
neural-compressor
git+https://github.com/intel/intel-extension-for-transformers.git@8f5febc10227231266aa8c55bc5aa2c982afb2f3
lm_eval==0.4.2
