transformers==4.36.0
torch==2.0.1
git+https://github.com/EleutherAI/lm-evaluation-harness.git@008fc2a23245c40384f2312718433eeb1e0f87a9
fsspec==2023.9.2
tiktoken
transformers_stream_generator
peft
sentencepiece
einops

