recommonmark==0.7.1
setuptools_scm[toml]==9.2.2
Sphinx==8.2.3
sphinx-autoapi==3.6.1
sphinx-autobuild==2025.8.25
sphinx-markdown-tables==0.0.17
sphinx-md==0.0.4
sphinx_rtd_theme==3.0.2
sphinxcontrib-jquery==4.1
sphinxemoji==0.3.1
