git+https://github.com/EleutherAI/lm-evaluation-harness.git@83dbfbf6070324f3e5872f63e49d49ff7ef4c9b3
intel-extension-for-transformers==2.1
torch
transformers
accelerate
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.11'
datasets
optimum
evaluate
