accelerate
transformers
ftfy
tensorboard
Jinja2
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
intel-extension-for-pytorch
diffusers==0.27.2
