<mat-spinner style="margin:0 auto;" mode="indeterminate" class="big-spinner-center"
  [style.display]="showSpinner ? 'block' : 'none'">
</mat-spinner>

<div class="container" *ngIf="model">
  <div class="item-title">
    <h1 *ngIf="!empty" class=" wizard-container">Resnet 50 v1</h1>
    <h1 *ngIf="empty" class=" wizard-container">SSD Resnet 50</h1>
  </div>

  <mat-tab-group>
    <mat-tab label="Optimizations">
      <div class="item item-exec">
        <ng-container *ngIf="!empty">
          <h2>Optimizations</h2>
          <table class="rounded">
            <tr>
              <td class="header">Optimization name</td>
              <td class="header">Optimization type</td>
              <td class="header">Precision</td>
              <td class="header">Dataset</td>
              <td class="header">Accuracy</td>
              <td class="header">Performance</td>
              <td class="header">Size</td>
              <td class="header">Action</td>
            </tr>
            <tr class="hover pointer active">
              <td class="center">Optimization1</td>
              <td class="center">Quantization</td>
              <td class="center">int8</td>
              <td class="center">dummy</td>
              <td class="center">78.90%</td>
              <td class="center">427.93 FPS</td>
              <td class="center">25 MB</td>
              <td class="center"><button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent"
                  class="action-btn" [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button></td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization2</td>
              <td class="center">Graph optimization</td>
              <td class="center">fp32</td>
              <td class="center">dummy</td>
              <td class="center">-</td>
              <td class="center">-</td>
              <td class="center">48 MB</td>
              <td class="center"><button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent"
                  class="action-btn" [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button></td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization3</td>
              <td class="center">Quantization</td>
              <td class="center">int8</td>
              <td class="center">MyImageRecord</td>
              <td class="center">-</td>
              <td class="center">-</td>
              <td class="center">-</td>
              <td class="center"><button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent"
                  class="action-btn" [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Run
                </button></td>
            </tr>
          </table>
        </ng-container>

        <button mat-raised-button class="create-new-btn" (click)="addOptimization('AddOptimization')">
          <img src="./../../assets/008a-plus-solid.svg">
          Add new optimization
        </button>

        <br />
        <br />
        <br />
        <br />
      </div>

      <ng-container *ngIf="!empty">
        <div class="item item-exec">
          <h2>Results</h2>
          <table class="comparison-table">
            <tr>
              <td class="cell">
                <p class="big-number">
                  78.90%
                </p>
                <p class="label">
                  Accuracy [%]
                </p>
              </td>
              <td class="cell">
                <p class="big-number">
                  427.93 FPS
                </p>
                <p class="label">
                  Performance [sample/sec]
                </p>
              </td>
              <td class="cell">
                <p class="big-number">
                  {{ model['size_optimized_model'] ? model['size_optimized_model'] : '-' }}
                </p>
                <p class="label">
                  Size [MB]
                </p>
              </td>
            </tr>
          </table>
        </div>

        <div class="item item-exec">
          <h2>Tuning parameters</h2>
          <table class="rounded">
            <tr>
              <td>Strategy:</td>
              <td>basic</td>
            </tr>
            <tr>
              <td>Accuracy goal:</td>
              <td>0.01</td>
            </tr>
            <tr>
              <td>Objective:</td>
              <td>performance</td>
            </tr>
            <tr>
              <td>Timeout:</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Max trials:</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Random seed:</td>
              <td>9527</td>
            </tr>
          </table>
        </div>
        <br />

        <div class="item">
          <img class="mockup-img" src="./../../assets/mockup/tuning-history.png">
        </div>
      </ng-container>

      <ng-container *ngIf="historyData['data'] 
    && historyData['data']['last_tune_accuracy'] 
    && historyData['data']['history']
    && historyData['data']['history'].lengtd > 1">
        <div class="item item-charts3">
          <h2>Accuracy - tuning history</h2>
          <p>
            <ngx-charts-line-chart class="inline" (window:resize)="onResize()" [view]="viewLine" [scheme]="colorScheme"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
              [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax" [results]="historyData['accuracy']"
              [xAxisTickFormatting]="axisFormat" [referenceLines]="accuracyReferenceLines" [showRefLines]="true"
              [showRefLabels]="true">
            </ngx-charts-line-chart>
          </p>
        </div>

        <div class="item item-charts4">
          <h2>Duration - tuning history</h2>
          <p *ngIf="historyData['data']['baseline_performance']">
            <ngx-charts-line-chart class="inline" (window:resize)="onResize()" [view]="viewLine" [scheme]="colorScheme"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
              [results]="historyData['performance']" [xAxisTickFormatting]="axisFormat" [yAxisLabel]="'[ms]'">
            </ngx-charts-line-chart>
          </p>
        </div>
      </ng-container>

    </mat-tab>
    <mat-tab label="Benchmark">
      <div class="item item-exec">
        <ng-container *ngIf="!empty">
          <h2>Benchmarks</h2>
          <table class="rounded">
            <tr>
              <td class="header">Model</td>
              <td class="header">Precision</td>
              <td class="header">Dataset</td>
              <td class="header">Batch size</td>
              <td class="header">Cores per instance</td>
              <td class="header">Number of instances</td>
              <td class="header">Accuracy</td>
              <td class="header">Throughput</td>
              <td class="header">Action</td>
              <td class="header">Compare</td>
            </tr>
            <tr class="hover pointer active">
              <td class="center">Input model</td>
              <td class="center">fp32</td>
              <td class="center">MyImageRecord</td>
              <td class="center">1</td>
              <td class="center">4</td>
              <td class="center">7</td>
              <td class="center">78.75%</td>
              <td class="center">210.12 FPS</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button>
              </td>
              <td class="center">
                <mat-checkbox [checked]="false"></mat-checkbox>
              </td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization1</td>
              <td class="center">int8</td>
              <td class="center">dummy</td>
              <td class="center">4</td>
              <td class="center">28</td>
              <td class="center">1</td>
              <td class="center">-</td>
              <td class="center">437.12 FPS</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button>
              </td>
              <td class="center">
                <mat-checkbox [checked]="false"></mat-checkbox>
              </td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization1</td>
              <td class="center">int8</td>
              <td class="center">dummy</td>
              <td class="center">8</td>
              <td class="center">14</td>
              <td class="center">2</td>
              <td class="center">-</td>
              <td class="center">452.12 FPS</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button>
              </td>
              <td class="center">
                <mat-checkbox [checked]="false"></mat-checkbox>
              </td>
            </tr>
            <tr>
              <td class="center">Optimization1</td>
              <td class="center">int8</td>
              <td class="center">MyImageRecord</td>
              <td class="center">1</td>
              <td class="center">4</td>
              <td class="center">7</td>
              <td class="center">78,90%</td>
              <td class="center">425.12 FPS</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button>
              </td>
              <td class="center">
                <mat-checkbox [checked]="false"></mat-checkbox>
              </td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization2</td>
              <td class="center">fp32</td>
              <td class="center">dummy</td>
              <td class="center">32</td>
              <td class="center">7</td>
              <td class="center">4</td>
              <td class="center">-</td>
              <td class="center">241.12 FPS</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Rerun
                </button>
              </td>
              <td class="center">
                <mat-checkbox [checked]="false"></mat-checkbox>
              </td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization2</td>
              <td class="center">fp32</td>
              <td class="center">MyImageRecord</td>
              <td class="center">1</td>
              <td class="center">4</td>
              <td class="center">7</td>
              <td class="center">-</td>
              <td class="center">-</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="optimize()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Run
                </button>
              </td>
              <td class="center">
                <mat-checkbox [checked]="false"></mat-checkbox>
              </td>
            </tr>
          </table>
        </ng-container>

        <button mat-raised-button class="create-new-btn" (click)="addOptimization('AddBenchmark')">
          <img src="./../../assets/008a-plus-solid.svg">
          Add new benchmark
        </button>

        <br />
        <br />
        <br />
        <br />
      </div>

      <ng-container *ngIf="!empty">
        <div class="item">
          <h2>Benchmark details</h2>
          <table class="rounded">
            <tr>
              <td>Optimization:</td>
              <td>some details</td>
            </tr>
            <tr>
              <td>Dataset:</td>
              <td>dummy</td>
            </tr>
            <tr>
              <td>Iterations:</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Configuration:</td>
              <td><a href>Show config</a></td>
            </tr>
            <tr>
              <td>Output:</td>
              <td><a href>Show log</a></td>
            </tr>
            <tr>
              <td>Execution command</td>
              <td></td>
            </tr>
          </table>
        </div>
      </ng-container>

      <div class="item item-charts2" *ngIf="model['acc_input_model']">
        <h2>Parameters comparison</h2>
        <p>
          <ngx-charts-bar-vertical-2d *ngIf="accuracyData && model['acc_input_model']" class="inline"
            (window:resize)="onResize()" [view]="view" [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [results]="accuracyData">
          </ngx-charts-bar-vertical-2d>
          <ngx-charts-bar-vertical-2d *ngIf="performanceData" class="inline" (window:resize)="onResize()" [view]="view"
            [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
            [yAxis]="yAxis" [results]="performanceData">
          </ngx-charts-bar-vertical-2d>
          <ngx-charts-bar-vertical-2d *ngIf="sizeData" class="inline" (window:resize)="onResize()" [view]="view"
            [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
            [yAxis]="yAxis" [results]="sizeData">
          </ngx-charts-bar-vertical-2d>
        </p>
        <ngx-charts-legend class="chart-legend" [data]="labels" [title]="'Legend'" [colors]="colors">
        </ngx-charts-legend>
      </div>
    </mat-tab>

    <mat-tab label="Profiling">
      <div class="item item-exec">
        <h2>Profiling</h2>
        <table class="rounded">
          <tr>
            <td class="header">Model</td>
            <td class="header">Precision</td>
            <td class="header">Action</td>
          </tr>
          <tr class="hover pointer active">
            <td class="center">Input model</td>
            <td class="center">fp32</td>
            <td class="center">
              <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                [disabled]="model['status'] === 'wip'" (click)="getProfile()">
                <img src="./../../assets/088a-start-solid-white.svg">
                Run
              </button>
            </td>
          </tr>
          <ng-container *ngIf="!empty">
            <tr class="hover pointer">
              <td class="center">Optimization1</td>
              <td class="center">int8</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="getProfile()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Run
                </button>
              </td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization2</td>
              <td class="center">fp32</td>
              <td class="center">
                <button mat-raised-button [matTooltip]="'Rerun this configuration'" color="accent" class="action-btn"
                  [disabled]="model['status'] === 'wip'" (click)="getProfile()">
                  <img src="./../../assets/088a-start-solid-white.svg">
                  Run
                </button>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
      <br>

      <ng-container *ngIf="!empty">
        <div class="item item-charts1">
          <br>
          <br>
          <ngx-charts-bar-vertical-2d class="inline" (window:resize)="onResize()" [view]="viewLine"
            [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
            [yAxis]="yAxis" [results]="profilingChartData" [showDataLabel]=true>
          </ngx-charts-bar-vertical-2d>
        </div>

        <br>
        <div class="item item-charts1">
          <br>
          <button mat-raised-button color="accent" class="float-right">Export data to .csv</button>
          <h2>Profiling data</h2>
          <table class="rounded">
            <tr>
              <td class="header" [attr.rowspan]="last ? 1 : 2" [attr.colspan]="last ? 2 : 1"
                *ngFor="let header of profilingDataHeaders; let last = last">
                {{ header | modelList }} {{ header.includes('time') ? '[μs]' : null}}
              </td>
              <td class="header" rowspan=2>Chart</td>
            </tr>
            <tr>
              <td class="header">
                run
              </td>
              <td class="header">
                defined
              </td>
            </tr>
            <tr *ngFor="let row of profilingData; let index = index">
              <ng-container *ngFor="let header of profilingDataHeaders">
                <ng-container *ngIf="typeOf(row[header].run) !== 'undefined'">
                  <td class="cell">
                    {{ row[header].run }}
                  </td>
                </ng-container>
                <ng-container *ngIf="typeOf(row[header].defined) !== 'undefined'">
                  <td class="cell">
                    {{ row[header].defined }}
                  </td>
                </ng-container>
                <ng-container *ngIf="typeOf(row[header].run) === 'undefined'">
                  <td class="cell">
                    {{ row[header] }}
                  </td>
                </ng-container>
              </ng-container>
              <td>
                <mat-checkbox [checked]="index < 6"></mat-checkbox>
              </td>
            </tr>
          </table>
        </div>
      </ng-container>
    </mat-tab>

    <mat-tab label="Graph">
      <div class="item item-exec">
        <h2>Graph visualization</h2>
        <table class="rounded">
          <tr>
            <td class="header">Model</td>
            <td class="header">Precision</td>
          </tr>
          <tr class="hover pointer active">
            <td class="center">Input model</td>
            <td class="center">fp32</td>
          </tr>
          <ng-container *ngIf="!empty">
            <tr class="hover pointer">
              <td class="center">Optimization1</td>
              <td class="center">int8</td>
            </tr>
            <tr class="hover pointer">
              <td class="center">Optimization2</td>
              <td class="center">fp32</td>
            </tr>
          </ng-container>
        </table>
      </div>

      <div class="item item-exec">
        <img class="mockup-img" src="./../../assets/mockup/graph.png">
      </div>
    </mat-tab>

    <mat-tab label="Dataset">
      <div class="item item-exec">
        <h2>Datasets</h2>
        <table class="rounded">
          <tr>
            <td class="header">Dataset name</td>
            <td class="header">Dataset type</td>
            <td class="header">Details</td>
          </tr>
          <tr class="hover pointer active">
            <td class="center">dummy</td>
            <td class="center">Dummy</td>
            <td class="center">[300, 300, 3]</td>
          </tr>
          <ng-container *ngIf="!empty">
            <tr class="hover pointer active">
              <td class="center">MyImageRecord</td>
              <td class="center">Real data</td>
              <td class="center">/dataset/ImageRecord_mini</td>
            </tr>
          </ng-container>
        </table>

        <button mat-raised-button class="create-new-btn" (click)="addOptimization('AddDataset')">
          <img src="./../../assets/008a-plus-solid.svg">
          Add new dataset
        </button>
        <br>
        <br>
        <br>
        <br>
      </div>

      <ng-container *ngIf="!empty">
        <div class="item">
          <h2>Dataset details</h2>
          <table class="rounded">
            <tr>
              <td>Dataset type:</td>
              <td>ImageRecord</td>
            </tr>
            <tr>
              <td>Dataset location:</td>
              <td>/path/to/dataset</td>
            </tr>
            <tr>
              <td>Calibration sampling size:</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Calibration batch size:</td>
              <td>100</td>
            </tr>
          </table>
        </div>

        <div class="item">
          <h2>Transforms</h2>
          <table class="rounded">
            <tr>
              <td class="header" colspan=2>ResizeCropImagenet</td>
            </tr>
            <tr>
              <td>height:</td>
              <td>224</td>
            </tr>
            <tr>
              <td>width:</td>
              <td>224</td>
            </tr>
            <tr>
              <td>random crop:</td>
              <td></td>
            </tr>
            <tr>
              <td>resize side:</td>
              <td></td>
            </tr>
            <tr>
              <td>mean value:</td>
              <td>123.68,116.78,103.94</td>
            </tr>
          </table>
        </div>

        <div class="item">
          <h2>Metric</h2>
          <table class="rounded">
            <tr>
              <td>topk:</td>
              <td>1</td>
            </tr>
          </table>
        </div>
      </ng-container>
    </mat-tab>

    <mat-tab label="Project info">
      <div class="item item-row1">
        <h2>Project details</h2>
        <table>
          <tr>
            <td>Project name:</td>
            <td *ngIf="!empty">Resnet 50 v1</td>
            <td *ngIf="empty">SSD Resnet 50</td>
          </tr>
          <tr>
            <td>Created at:</td>
            <td>25/11/2021 8:07</td>
          </tr>
          <tr>
            <td>Modified at:</td>
            <td>25/11/2021 15:03</td>
          </tr>
          <tr>
            <td>Domain:</td>
            <td>Image recognition</td>
          </tr>
          <tr>
            <td>Size:</td>
            <td>50 MB</td>
          </tr>
          <tr>
            <td class="icon-button">Input model path:</td>
            <td>
              {{ model['model_path'] ? getFileName(model['model_path']) : null }}
              <img *ngIf="model['model_path']" class="icon-button right" src="./../../assets/146a-copy-solid.svg"
                matTooltip="Copy full model path to clipboard" matTooltipPosition="after"
                (click)="copyToClipboard(model['model_path'])">
            </td>
          </tr>
        </table>
      </div>
      <div class="item">
        <h2>Notes</h2>
        <input class="mockup-img">
      </div>
    </mat-tab>
  </mat-tab-group>

</div>