Pillow
gdown
matplotlib
timm>=0.9,<=1.0.12
wheel
cython
tensorboard
scipy
scikit-learn
scikit-image
openai-clip
decord
requests
pyyaml
easydict
pyiqa
lvis
fairscale>=0.4.4
fvcore
easydict
urllib3
boto3
omegaconf
transformers==4.57.1
pycocoevalcap
detectron2@git+https://github.com/facebookresearch/detectron2.git
accelerate
diffusers
sentencepiece==0.2.1
av==12.1.0
torchsde==0.2.6
einops
safetensors
dreamsim
numpy<2.0.0
