<h4>Tuning accuracy for each run</h4>

<table>
  <tr>
    <td class="header">run ID</td>
    <td class="header">throughput</td>
    <td class="header">latency</td>
    <td class="header">accuracy</td>
  </tr>
  <tr>
    <td class="cell">1</td>
    <td class="cell">5000</td>
    <td class="cell">237</td>
    <td class="cell">0.9</td>
  </tr>
  <tr>
    <td class="cell">2</td>
    <td class="cell">5000</td>
    <td class="cell">237</td>
    <td class="cell">0.9</td>
  </tr>
  <tr>
    <td class="cell">3</td>
    <td class="cell">5000</td>
    <td class="cell">237</td>
    <td class="cell">0.9</td>
  </tr>
  <tr>
    <td class="cell">4</td>
    <td class="cell">5000</td>
    <td class="cell">237</td>
    <td class="cell">0.9</td>
  </tr>
</table>