<button mat-button id="error-close-btn" class="close-button" mat-dialog-close matTooltip="Close">&#x2573;</button>

<h2>Jobs queue</h2>
<table *ngIf="objectKeys(jobsQueue).length" class="rounded">
  <tr>
    <td class="header">No.</td>
    <td class="header">Job name</td>
  </tr>
  <tr *ngFor="let job of jobsQueue | keyvalue: valueAscOrder">
    <td class="cell">{{ job.value }}</td>
    <td class="cell">{{ job.key }}</td>
  </tr>
</table>

<p *ngIf="objectKeys(jobsQueue).length === 0">No jobs to show.</p>