accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
transformers
bitsandbytes  #baichuan
transformers_stream_generator
tiktoken  #qwen
einops  #qwen
auto_round
lm-eval>=0.4.2
huggingface_hub
numba
tbb
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
intel-extension-for-pytorch==2.4.0
