accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
torch==2.4.0
transformers
bitsandbytes  #baichuan
transformers_stream_generator
tiktoken  #qwen
einops  #qwen
auto_round
lm-eval>=0.4.2
huggingface_hub
numba
tbb
intel-extension-for-pytorch==2.4.0
