datasets
transformers
seqeval
tensorboard
seqeval
sentencepiece
timm
Pillow
einops
textdistance
shapely
protobuf==3.20.0
torch
torchvision
setuptools
onnx
onnxruntime
onnxruntime-extensions; python_version < '3.10'
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2