.site-footer {
   display: none;
}

.container {
   padding-left: 0px;
}
.header-holder .main-menu {
   left: 65%;
}

.header-holder .container {
   padding-left: 0px;
}

.headTitleStyle {
   font-size: 1.3rem;
   font-family: auto;
   color: #eee;
}

.headTitleStyle:before{
   content: "🏠";
}

.header-container {
   display: flex;
}

.iconStyle {
   width: 100%;
}

.docs-tutorials-resources {
   display: none;
}

.navbar-logo {
   background: #0068b5;
   line-height: 1;
   width: 25.7%;
   padding: 0;
   margin-right: 12px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70px;
   flex-direction: column;
}

@media screen and (min-width: 1600px) {
   .navbar-logo {
      width: 26.2rem;
   }
 }

 .pytorch-page-level-bar {
   width: 100%;
 }

 .pytorch-content-left {
   width: 100%;
}


article.pytorch-article h2 {
   margin-top: 0;
}

article.pytorch-article ul li {
   line-height: 1.75rem;
   margin-bottom: 0;
   font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul.pytorch-breadcrumbs a, p a:link, p a:visited, p a:hover, 
.pytorch-left-menu li.toctree-l1.current > a, .pytorch-right-menu li.toctree-l1.current > a, 
.pytorch-left-menu li.toctree-l1.current > a:before, .pytorch-right-menu li.toctree-l1.current > a:before,
.header-holder .main-menu ul li a:hover,
a:link, a:visited, a:hover {
   color: #0068b5;
}

article.pytorch-article .class dt {
   border-left: none;
   border-top: 3px solid #0068b5;
   padding-right: 1.25rem;
}

article.pytorch-article .class .method dt, article.pytorch-article .class .staticmethod dt {
   border-left: 3px solid #0068b5;
   border-top: none;
}


article.pytorch-article .function dt, article.pytorch-article .attribute dt, article.pytorch-article .class .attribute dt {
   border-left: 3px solid #0068b5;
}

article.pytorch-article table tbody td {
   color: #6c6c6d;
   white-space: normal;
   padding: 0.9375rem;
   font-size: 1rem;
   line-height: 1.375rem;
}

article.pytorch-article table tr td:first-of-type {
   width: 30%;
}

article.pytorch-article dl {
   margin-bottom: 0rem;
}
ol, ul, dl {
   margin-top: revert;
   margin-bottom: 0rem;
}

article.pytorch-article .class dd {
   padding-left: 3.75rem;
}

article.pytorch-article .class dd p {
   color: #262626;
}

article.pytorch-article table tr td:nth-of-type(2)  {
   text-align: left;
}

article.pytorch-article table tbody td .pre {
   color: #0068b5;
   font-size: 1rem;
}

article.pytorch-article table tr td > p {
   margin-bottom: 0rem;
}

article.pytorch-article p, article.pytorch-article ol li, article.pytorch-article dl dt, article.pytorch-article dl dd, article.pytorch-article blockquote {
   font-size: 1rem;
   line-height: 1.375rem;
   color: #262626;
   letter-spacing: 0.01px;
   font-weight: 500;
}

p {
   line-height: 24px;
   font-size: 16px;
   margin: 0 0 24px;
}

.rst-content p a {
   overflow-wrap: anywhere;
}

.rst-content img {
   max-width: 100%;
   height: auto;
}

article.pytorch-article blockquote {
   width: 100%;
}

article.pytorch-article img {
   width: auto;
}

article.pytorch-article hr {
   margin: 0px;
}
article.pytorch-article table th, article.pytorch-article table tr, 
article.pytorch-article table tr th:first-of-type, article.pytorch-article table tr td:first-of-type {
   border: 1px solid #eee;
   text-align: center;
}

article.pytorch-article table td {
   border: 1px solid #eee;
}

h1 {
   margin-bottom: 1.375rem;
   font-size: 1.8rem;
}

article.pytorch-article table tbody .row-odd {
   background-color: #f3f4f7;
}

article.pytorch-article {
   margin: 0;
}

#validated-mlperf-models table tr td {
   text-align: center;
}

.version {
   margin-top: 0.7rem;
}

.version a {
   color: #ffffff;
}

/* footer {
   width: 74%;
   float: right;
} */