neural-compressor
transformers >= 4.10.0
datasets == 1.18.0
sentencepiece != 0.1.92
protobuf
scipy
onnx
onnxruntime
--find-links https://download.pytorch.org/whl/torch_stable.html
torch >= 1.12.0+cpu
