<button mat-button id="error-close-btn" class="close-button" mat-dialog-close matTooltip="Close">&#x2573;</button>

<h2>System information</h2>
<table class="rounded">
  <tr *ngFor="let info of data['system info'] | keyvalue: unsorted">
    <ng-container *ngIf="info.key !== 'bf16_support'">
      <td class="header">{{ info.key | underscoreToSpace }}</td>
      <td class="cell">{{ info.value }}</td>
    </ng-container>
  </tr>
</table>
<h2>Framework information</h2>
<table class="rounded">
  <tr *ngFor="let info of data['framework info'] | keyvalue: unsorted">
    <td class="header">{{ info.key | underscoreToSpace }}</td>
    <td class="cell">{{ info.value }}</td>
  </tr>
</table>