<div [hidden]="showSpinner" class="cyto-graph" id="cy">
</div>

<div class="graph-buttons">
  <button mat-raised-button class="graph-button" (click)="zoomToFit()">Fit</button>
  <button mat-raised-button class="graph-button" (click)="center()">Center</button>
  <button mat-raised-button class="graph-button" (click)="reset()">Reset</button>
</div>
<div class="nodes-table-container" *ngIf="expandedNodesArray.length">
  <table class="nodes-table">
    <td class="header">Expanded groups</td>
    <td></td>
    <tr *ngFor="let group of expandedNodesArray">
      <td>{{ group.replace('node_group_','') }}</td>
      <td (click)="expand(group)" class="pointer" matTooltip="Collapse this group">&#x2715;</td>
    </tr>
  </table>
</div>

<mat-spinner class="spinner" *ngIf="showSpinner" [diameter]="50"></mat-spinner>