lm-eval==0.4.10
lm-eval[api]
loguru
compressed-tensors==0.12.2
hf_transfer
transformers==5.0.0rc3
# pip install git+https://github.com/yiliu30/long-bench-eval
long-bench-eval @ git+https://github.com/yiliu30/long-bench-eval