lm-eval==0.4.10
loguru
compressed-tensors==0.12.2
hf_transfer
transformers==4.57.3
# pip install git+https://github.com/yiliu30/long-bench-eval
long-bench-eval @ git+https://github.com/yiliu30/long-bench-eval