accelerate
datasets
transformers
seqeval
tensorboard
sentencepiece
timm
Pillow
einops
textdistance
shapely
protobuf==3.20.0
torch
torchvision
setuptools
onnx
onnxruntime
onnxruntime-extensions
detectron2