accelerate
datasets
einops
git+https://github.com/intel/intel-extension-for-transformers.git@8f5febc10227231266aa8c55bc5aa2c982afb2f3
optimum
peft
sentencepiece
transformers==4.38.0
torch
tqdm
tiktoken
transformers_stream_generator
lm_eval==0.4.2
