accelerate
datasets
sentencepiece
transformers
torch
tqdm
optimum
einops
intel_extension_for_transformers
tiktoken
transformers_stream_generator
peft
deepspeed
git+https://github.com/EleutherAI/lm-evaluation-harness.git@83dbfbf6070324f3e5872f63e49d49ff7ef4c9b3
