<h3>{{ type | titlecase }} histogram</h3>

<div class="explanation">
  <p>When you hover over the chart a menu will appear in the top right corner.</p>
  <p>You can zoom the chart, save it as .png file or hide channels by clicking them in the legend.</p>
</div>

<div class="center">
  <plotly-plot [data]="data" [layout]="layout"></plotly-plot>
</div>

<mat-spinner style="margin:0 auto;" mode="indeterminate" class="big-spinner-center"
  [style.display]="showSpinner ? 'block' : 'none'">
</mat-spinner>