<mat-horizontal-stepper #stepper>
  <mat-step *ngIf="!data.editing" [stepControl]="optimizationFormGroup" [completed]="false">
    <ng-template matStepLabel>Name</ng-template>
    <h2>Name</h2>
    <p>Choose name of the optimization.</p>
    <form [formGroup]="optimizationFormGroup">
      <mat-form-field class="form-field long" appearance="outline">
        <mat-label>optimization name</mat-label>
        <input required formControlName="name" matInput>
      </mat-form-field>
      <br>
      <div class="float-right">
        <button mat-raised-button name="next" matStepperNext type="submit">
          <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="optimizationFormGroup" [completed]="false" *ngIf="data.framework === 'tensorflow'">
    <ng-template matStepLabel>Precision</ng-template>
    <h2 matTooltip="Check framework user guide for precision support.">Precision</h2>
    <p>Choose precision of the optimization. Precision determines available optimization types.</p>
    <form [formGroup]="optimizationFormGroup">

      <mat-button-toggle-group formControlName="precisionId" (change)="getOptimizationTypes()">
        <mat-button-toggle *ngFor="let precision of precisionsOther" [value]="precision.id">
          {{ precision.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br>
      <br>
      <br>
      <mat-radio-group *ngIf="optimizationFormGroup.get('precisionId').value === 1 && data.supportsPruning"
        formControlName="optimizationTypeId">
        <ng-container *ngFor="let type of supportedTypes">
          <mat-radio-button [value]="type.id">{{ type.name }}</mat-radio-button><br><br>
        </ng-container>
      </mat-radio-group>
      <div class="float-right">
        <button mat-raised-button name="next" matStepperNext type="submit">
          <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="optimizationFormGroup" [completed]="false" *ngIf="data.framework === 'pytorch'">
    <ng-template matStepLabel>Precision</ng-template>
    <h2 matTooltip="Check framework user guide for precision support.">Precision</h2>
    <p>Choose precision of the optimization. Precision determines available optimization types.</p>
    <form [formGroup]="optimizationFormGroup">
      <mat-button-toggle-group formControlName="precisionId" (change)="getOptimizationTypes()">
        <mat-button-toggle *ngFor="let precision of precisionsPyTorch" [value]="precision.id">
          {{ precision.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br>
      <div class="float-right">
        <button id="finish-adv-btn" class="finish-button" mat-raised-button mat-dialog-close color="accent"
          (click)="addOptimization()" queryParamsHandling="preserve" type="submit">
          <img class="navigation-icon" src="./../../assets/056a-save-solid-white.svg">
          Finish
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="optimizationFormGroup" [completed]="false" *ngIf="data.framework !== 'pytorch'">
    <ng-template matStepLabel>Dataset</ng-template>
    <h2>Dataset</h2>
    <p>Choose the dataset to use with this optimization. If you want to add another dataset go
      <a class="link" (click)="openDatasetDialog()">here</a>.
    </p>
    <form [formGroup]="optimizationFormGroup">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Dataset</mat-label>
        <mat-select formControlName="datasetId" required>
          <mat-option *ngFor="let dataset of datasets" [value]="dataset.id" matTooltipPosition="right"
            [matTooltip]="dataset.help">
            {{ dataset.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div class="float-right">
        <button id="finish-adv-btn" class="finish-button" mat-raised-button mat-dialog-close color="accent"
          type="submit" (click)="addOptimization()" queryParamsHandling="preserve">
          <img class="navigation-icon" src="./../../assets/056a-save-solid-white.svg">
          Finish
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>