<mat-horizontal-stepper #stepper>
  <mat-step [completed]="false">
    <ng-template matStepLabel>Name</ng-template>
    <h2>Name</h2>
    <p>Choose name of the optimization.</p>
    <mat-form-field class="form-field long" appearance="outline">
      <mat-label>optimization name</mat-label>
      <input required [(ngModel)]="name" matInput>
    </mat-form-field>
    <br>
    <div class="float-right">
      <button mat-raised-button matStepperNext>
        <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [completed]="false" *ngIf="data.framework === 'tensorflow'">
    <ng-template matStepLabel>Precision</ng-template>
    <h2 matTooltip="Check framework user guide for precision support.">Precision</h2>
    <p>Choose precision of the optimization. Precision determines available optimization types.</p>
    <div class="custom-slider">
      <mat-button-toggle-group class="toggle-group" [(ngModel)]="precisionId" (change)="getOptimizationTypes()">
        <mat-button-toggle *ngFor="let precision of precisionsOther" [value]="precision.id">
          {{ precision.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <br>
    <div class="float-right">
      <button mat-raised-button matStepperNext>
        <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
        Next
      </button>
    </div>
  </mat-step>

<mat-step [completed]="false" *ngIf="data.framework === 'pytorch'">
    <ng-template matStepLabel>Precision</ng-template>
    <h2 matTooltip="Check framework user guide for precision support.">Precision</h2>
    <p>Choose precision of the optimization. Precision determines available optimization types.</p>
    <div class="custom-slider">
      <mat-button-toggle-group class="toggle-group" [(ngModel)]="precisionId" (change)="getOptimizationTypes()">
        <mat-button-toggle *ngFor="let precision of precisionsPyTorch" [value]="precision.id">
          {{ precision.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <br>
    <div class="float-right">
      <button id="finish-adv-btn" mat-raised-button mat-dialog-close color="accent" (click)="addOptimization()"
        queryParamsHandling="preserve">
        <img class="navigation-icon" src="./../../assets/056a-save-solid-white.svg">
        Finish
      </button>
    </div>  
  </mat-step>
  <mat-step [completed]="false" *ngIf="data.framework !== 'pytorch'">
    <ng-template matStepLabel>Dataset</ng-template>
    <h2>Dataset</h2>
    <p>Choose the dataset to use with this optimization. If you want to add another dataset go
      <a class="link" (click)="openDatasetDialog()">here</a>.
    </p>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Dataset</mat-label>
      <mat-select [(ngModel)]="datasetId" required>
        <mat-option *ngFor="let dataset of datasets" [value]="dataset.id" matTooltipPosition="right"
          [matTooltip]="dataset.help">
          {{ dataset.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div class="float-right">
      <button id="finish-adv-btn" mat-raised-button mat-dialog-close color="accent" (click)="addOptimization()"
        queryParamsHandling="preserve">
        <img class="navigation-icon" src="./../../assets/056a-save-solid-white.svg">
        Finish
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
