<mat-horizontal-stepper #stepper>
  <mat-step *ngIf="!data.editing" [stepControl]="profilingFormGroup" [completed]="false">
    <ng-template matStepLabel>Name</ng-template>
    <h2>Name</h2>
    <p>Set the profiling name.</p>
    <form [formGroup]="profilingFormGroup">
      <mat-form-field class="form-field long" appearance="outline">
        <mat-label>profiling name</mat-label>
        <input required formControlName="name" matInput>
      </mat-form-field>
      <br>
      <div class="float-right">
        <button mat-raised-button name="next" matStepperNext type="submit">
          <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="!data.editing" [stepControl]="profilingFormGroup" [completed]="false">
    <ng-template matStepLabel>Model</ng-template>
    <h2>Model</h2>
    <p>Choose if you want to profile input model or one of the optimized models.</p>
    <form [formGroup]="profilingFormGroup">
      <mat-form-field class="form-field long" appearance="outline">
        <mat-label>model</mat-label>
        <mat-select required formControlName="model_id">
          <mat-option *ngFor="let model of models" [value]="model.id">{{ model.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div class="float-right">
        <button mat-raised-button name="next" matStepperNext type="submit">
          <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="profilingFormGroup" [completed]="false">
    <ng-template matStepLabel>Dataset</ng-template>
    <h2>Dataset</h2>
    <p>Choose the dataset to run the profiling on.</p>
    <form [formGroup]="profilingFormGroup">
      <mat-form-field class="form-field long" appearance="outline">
        <mat-label>dataset</mat-label>
        <mat-select required formControlName="dataset_id">
          <mat-option *ngFor="let dataset of datasets" [value]="dataset.id">{{ dataset.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div class="float-right">
        <button mat-raised-button name="next" matStepperNext type="submit">
          <img class="navigation-icon" src="./../../assets/083-arrow-forward-right.svg">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Number of threads</ng-template>
    <h3>Number of threads</h3>
    <p>Set number of threads to use with the profiling.</p>
    <form [formGroup]="profilingFormGroup">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>number of threads</mat-label>
        <input min=1 type="number" formControlName="num_threads" matInput>
      </mat-form-field>
      <br>
      <div class="float-right">
        <button id="finish-adv-btn" class="finish-button" mat-raised-button mat-dialog-close color="accent"
          type="submit" [disabled]="profilingFormGroup.status === 'INVALID'" (click)="addProfiling()"
          queryParamsHandling="preserve">
          <img class="navigation-icon" src="./../../assets/056a-save-solid-white.svg">
          Finish
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>