<div [formGroup]="form">

  <mat-form-field [ngSwitch]="field.controlType"
    [ngClass]="{'form-field': true, 'long': field.controlType === 'filePath'}" appearance="outline">
    <mat-label [attr.for]="field.fieldPath">{{ field.name }} {{ field.range.max }}</mat-label>

    <input matInput *ngSwitchCase="'numberInput'" [formControlName]="field.fieldPath" [id]="field.fieldPath"
      [type]="'number'" [max]="field.range.max" [min]="field.range.min" (keypress)="integerOnly($event, field.type)">

    <input matInput *ngSwitchCase="'stringInput'" [formControlName]="field.fieldPath" [id]="field.fieldPath">

    <input matInput *ngSwitchCase="'filePath'" [formControlName]="field.fieldPath" [id]="field.fieldPath">

    <mat-select [id]="field.fieldPath" *ngSwitchCase="'singleSelect'" [formControlName]="field.fieldPath">
      <mat-option *ngFor="let opt of field.choices" [value]="opt">{{ opt }}</mat-option>
    </mat-select>

    <mat-select [id]="field.fieldPath" *ngSwitchCase="'multiSelect'" [formControlName]="field.fieldPath"
      [multiple]="true">
      <mat-option *ngFor="let opt of field.choices" [value]="opt">{{ opt }}</mat-option>
    </mat-select>

  </mat-form-field>

  <button *ngIf="field.controlType === 'filePath'" id="choose-file-btn" mat-raised-button color="primary"
    class="choose-file-btn" (click)="openDialog(field.fieldPath, 'all')">
    <img class="icon" src="./../../assets/145b-document-outlined-white.svg">
    Choose file
  </button>
</div>