<div class="mat-dialog-container">
  <button mat-button id="error-close-btn" class="close-button" mat-dialog-close matTooltip="Close">&#x2573;</button>
  <h1 mat-dialog-title>
    Remove project
  </h1>

  <form>
    <div mat-dialog-content>
      <p>Type project name to delete it. This action cannot be undone.</p>

      <mat-form-field appearance="fill">
        <mat-label>Project name</mat-label>
        <input matInput [(ngModel)]="projectName">
      </mat-form-field>

      <p [ngStyle]="{'visibility': projectName.length && projectName !== data.projectName ? 'visible' : 'hidden'}"
        class="warning">
        <img class="warning-icon" src="./../../assets/006a-alert-solid-orange.svg">
        Warning: Project name does not match the project ID.
      </p>

    </div>

    <br />
    <div class="float-right">
      <button id="finish-adv-btn" class="finish-button" mat-raised-button mat-dialog-close color="warn" class="browse"
        type="submit" [disabled]="projectName !== data.projectName" (click)="removeProject()"
        queryParamsHandling="preserve">
        Delete project
      </button>
    </div>
  </form>
</div>