<div class="intro-container">
  <h1 class="intro">Intel® Neural Compressor</h1>
  <p class="intro">
    Intel® Neural Compressor supports automatic quantization tuning flow by converting
    quantizable layers to INT8 and allowing users to control model accuracy and performance tradeoffs
    and implements the latest quantization algorithms from the research community.
    <br>
    Visit the Intel® Neural Compressor online document website at:
    <a class="link" href="https://intel.github.io/neural-compressor/">intel.github.io/neural-compressor</a>.
  </p>

  <p class="intro">Run experiments with optimized models in 2 steps:</p>

  <div class="cards">
    <mat-card class="inline-block">
      <div class="img-container">
        <img class="big-icon" src="./../../assets/create-new.png">
      </div>
      <h1 class="center">1</h1>
      <h3>Create project and choose input model</h3>
    </mat-card>

    <mat-card class="inline-block">
      <div class="img-container">
        <img class="big-icon" src="./../../assets/nn.png">
      </div>
      <h1 class="center">2</h1>
      <h3>Add optimization to get optimized models</h3>
    </mat-card>

    <mat-card class="inline-block">
      <div class="img-container">
        <img class="big-icon" src="./../../assets/performance.png">
      </div>
      <h1 class="center">(3)</h1>
      <h3>Optional: benchmark and profile optimized models</h3>
    </mat-card>
  </div>

  <button id="create-new-project-btn" mat-raised-button class="create-new-btn" (click)="createNewProject()"
    queryParamsHandling="preserve">
    <img class="button-img" src="./../../assets/008a-plus-solid-black.svg">
    Create new project
  </button>
</div>

<mat-spinner style="margin:0 auto;" mode="indeterminate" class="big-spinner-center"
  [style.display]="showSpinner ? 'block' : 'none'">
</mat-spinner>