<h2>Optimizations</h2>
<p>Here you can create optimized models. You can see all of them in the table below.
  When you click on the row, you can see the details of each optimization.
  When you click "Run" you can run tuning of given optimization. When clicking table cell in "Accuracy" or
  "Performance" column you can pin benchmark results to the optimizations.</p>
<table class="rounded">
  <tr>
    <td class="header">Optimization name</td>
    <td class="header">Optimization type</td>
    <td class="header">Precision</td>
    <td class="header">Dataset</td>
    <td class="header">Accuracy</td>
    <td class="header">Performance</td>
    <td class="header">Size</td>
    <td class="header">Created at</td>
    <td class="header">Last run</td>
    <td class="header">Duration</td>
    <td class="header">Status</td>
    <td class="header" colspan=2>Action</td>
  </tr>
  <tr [ngClass]="{'active': optimization.id === activeOptimizationId, 'pointer': true}"
    *ngFor="let optimization of optimizations" (click)="getOptimizationDetails(optimization.id)"
    matTooltip="Click to see details">
    <td class="cell">{{ optimization.name }}</td>
    <td class="cell">{{ optimization.optimization_type.name }}</td>
    <td class="cell">{{ optimization.precision.name }}</td>
    <td class="cell">{{ optimization.dataset.name }}</td>

    <td class="cell" [ngClass]="pinnedAccuracyBenchmarks[optimization.id] ? 'align-right' : 'center'"
      (click)="$event.stopPropagation();openPinDialog('accuracy', optimization.id)">
      <a *ngIf="pinnedAccuracyBenchmarks[optimization.id]" class="big-number-table">
        {{ pinnedAccuracyBenchmarks[optimization.id].result.accuracy }} %
      </a>
      <ng-container *ngIf="!pinnedAccuracyBenchmarks[optimization.id]">
        <a class="pin" matTooltip="Click to choose benchmark results to pin"
          *ngIf="availableAccuracyBenchmarks[optimization.id] && availableAccuracyBenchmarks[optimization.id].length">
          Click to pin benchmark
        </a>
        <a matTooltip="Add and execute benchmarks for this configuration to see the results" class="label-table"
          *ngIf="!(availableAccuracyBenchmarks[optimization.id] && availableAccuracyBenchmarks[optimization.id].length)">
          *
        </a>
      </ng-container>
    </td>

    <td class="cell" [ngClass]="pinnedPerformanceBenchmarks[optimization.id] ? 'align-right' : 'center'"
      (click)="$event.stopPropagation();openPinDialog('performance', optimization.id)">
      <a *ngIf="pinnedPerformanceBenchmarks[optimization.id]" class="big-number-table">
        {{ pinnedPerformanceBenchmarks[optimization.id].result.performance | number: '1.2-2' }} FPS
      </a>
      <ng-container *ngIf="!pinnedPerformanceBenchmarks[optimization.id]">
        <a class="pin" matTooltip="Click to choose benchmark results to pin"
          *ngIf="availablePerformanceBenchmarks[optimization.id] && availablePerformanceBenchmarks[optimization.id].length">
          Click to pin benchmark
        </a>
        <a matTooltip="Add and execute benchmarks for this configuration to see the results" class="label-table"
          *ngIf="!(availablePerformanceBenchmarks[optimization.id] && availablePerformanceBenchmarks[optimization.id].length)">
          *
        </a>
      </ng-container>
    </td>

    <td class="cell align-right">{{ optimization.optimized_model?.size }} {{ optimization.duration ? 'MB' : null }}</td>
    <td class="cell">{{ optimization.created_at }}</td>
    <td class="cell">{{ optimization.last_run_at }}</td>
    <td class="cell">{{ optimization.duration }} {{ optimization.duration ? 's' : null }} </td>
    <td class="cell center" [matTooltip]="optimization['status']">
      <img *ngIf="optimization['status'] === 'success'" class="icon-button"
        src="./../../assets/010a-passed-completed-solid.svg">
      <img *ngIf="optimization['status'] === 'error' || optimization['status'] === 'failure'" class="icon-button"
        src="./../../assets/009a-close-solid.svg">
      <img *ngIf="optimization['status'] === null" class="icon-button" src="./../../assets/005a-help-solid-gray.svg">
      <mat-spinner style="margin:0 auto;" mode="indeterminate" matTooltip="Configuration is running"
        *ngIf="optimization['status'] === 'wip'" [diameter]="30">
      </mat-spinner>
    </td>
    <td class="center"><button mat-raised-button [matTooltip]="'Run tuning of this configuration'" color="accent"
        class="action-btn" [disabled]="optimization['status'] === 'wip'"
        (click)="$event.stopPropagation();executeOptimization(optimization.id)">
        <img src="./../../assets/088a-start-solid-white.svg">
        Run
      </button>
    </td>
    <td class="center cell">
      <img matTooltip="Delete this optimization" class="plus-icon" src="./../../assets/057b-trash-outlined.svg"
        (click)="$event.stopPropagation();deleteOptimization(optimization.id, optimization.name)">
    </td>
  </tr>
</table>

<p class="label-table">
  * - Add and execute <a class="pin" (click)="goToBenchmarks()">benchmarks</a> for this configuration to see the results
</p>

<button mat-raised-button class="create-new-btn" (click)="addOptimization()">
  <img src="./../../assets/008a-plus-solid-black.svg">
  Add new optimization
</button>

<br />
<br />
<br />
<br />

<ng-container *ngIf="optimizationDetails">
  <div class="container">
    <div class="item">
      <h2>Results</h2>
      <table class="comparison-table"
        *ngIf="pinnedAccuracyBenchmarks[activeOptimizationId] || pinnedPerformanceBenchmarks[activeOptimizationId]">
        <tr>
          <td class="cell">
            <p class="big-number">
              {{ pinnedAccuracyBenchmarks[activeOptimizationId] ?
              pinnedAccuracyBenchmarks[activeOptimizationId].result.accuracy + '%' : '-' }}
            </p>
            <p class="label">
              Accuracy
            </p>
          </td>
        </tr>
        <tr>
          <td class="cell">
            <p class="big-number">
              {{ pinnedPerformanceBenchmarks[activeOptimizationId] ?
              (pinnedPerformanceBenchmarks[activeOptimizationId].result.performance | number: '1.1-1') + ' FPS'
              : '-' }}
            </p>
            <p class="label">
              Performance
            </p>
          </td>
        </tr>
      </table>
      <p *ngIf="!(pinnedAccuracyBenchmarks[activeOptimizationId] || pinnedPerformanceBenchmarks[activeOptimizationId])">
        Run benchmark to get accuracy and performance results.
      </p>
    </div>

    <div class="item" *ngIf="optimizationDetails['tuning_details'] && framework.toLowerCase() !== 'pytorch'">
      <h2>Tuning details</h2>
      <table class="rounded">
        <tr>
          <th>batch size</th>
          <td>{{ optimizationDetails['batch_size'] }}</td>
        </tr>
        <tr>
          <th>sampling size</th>
          <td>{{ optimizationDetails['sampling_size'] }}</td>
        </tr>
        <ng-container *ngFor="let detail of optimizationDetails['tuning_details'] | keyvalue">
          <tr *ngIf="!['id', 'tuning_history'].includes(detail.key)">
            <th>{{ detail.key | modelList }}</th>
            <td *ngIf="typeOf(detail.value) === 'string' || typeOf(detail.value) === 'number'">{{
              detail.value }}</td>
            <td *ngIf="typeOf(detail.value) === 'object' && detail.value">{{ detail.value | json }}</td>
          </tr>
        </ng-container>
      </table>
    </div>

    <div class="item" *ngIf="optimizationDetails['optimized_model']">
      <h2>Model</h2>
      <table class="rounded">
        <ng-container *ngIf="framework.toLowerCase() !== 'pytorch'">
          <ng-container *ngFor="let detail of optimizationDetails['optimized_model'] | keyvalue">
            <tr *ngIf="detail.value && !detail.key.includes('id') && !detail.key.includes('supports') ">
              <th>{{ detail.key | modelList }}</th>
              <td class="wrap" *ngIf="typeOf(detail.value) === 'string' || typeOf(detail.value) === 'number'">
                {{ detail.value }} {{ detail.key === 'size' ? 'MB' : null }}
              </td>
              <td *ngIf="typeOf(detail.value) === 'object' && detail.value">
                {{ detail.value.name ?? (detail.value | json) }}
              </td>
              <td>
                <img *ngIf="detail.key.includes('path')" class="icon-button right"
                  src="./../../assets/146a-copy-solid.svg" matTooltip="Copy path to clipboard" matTooltipPosition="after"
                  (click)="copyToClipboard(detail.value)">
              </td>
              <td>
                <img *ngIf="detail.key === 'path'" class="help-button right pointer" matTooltip="Download model"
                  (click)="downloadModel(optimizationDetails['optimized_model']['path'], optimizationDetails['optimized_model']['id'])"
                  src="./../../assets/160a-download-solid.svg">
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="framework.toLowerCase() === 'pytorch'">
          <ng-container *ngFor="let detail of optimizationDetails['optimized_model'] | keyvalue">
            <tr *ngIf="detail.value && !detail.key.includes('id') && !detail.key.includes('supports')&& !detail.key.includes('domain')&& !detail.key.includes('nodes') ">
              <th>{{ detail.key | modelList }}</th>
              <td class="wrap" *ngIf="typeOf(detail.value) === 'string' || typeOf(detail.value) === 'number'">
                {{ detail.value }} {{ detail.key === 'size' ? 'MB' : null }}
              </td>
              <td *ngIf="typeOf(detail.value) === 'object' && detail.value">
                {{ detail.value.name ?? (detail.value | json) }}
              </td>
              <td>
                <img *ngIf="detail.key.includes('path')" class="icon-button right"
                  src="./../../assets/146a-copy-solid.svg" matTooltip="Copy path to clipboard" matTooltipPosition="after"
                  (click)="copyToClipboard(detail.value)">
              </td>
              <td>
                <img *ngIf="detail.key === 'path'" class="help-button right pointer" matTooltip="Download model"
                  (click)="downloadModel(optimizationDetails['optimized_model']['path'], optimizationDetails['optimized_model']['id'])"
                  src="./../../assets/160a-download-solid.svg">
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>

    <div class="item" *ngIf="optimizationDetails['log_path']">
      <h2>Other</h2>
      <table class="rounded">
        <tr>
          <th>created at</th>
          <td>{{ optimizationDetails['created_at'] }}</td>
        </tr>
        <tr>
          <th>last run at</th>
          <td>{{ optimizationDetails['last_run_at'] }}</td>
        </tr>
        <tr *ngIf="framework.toLowerCase() !== 'pytorch'">
          <th>config path</th>
          <td class="pointer">
            <a *ngIf="optimizationDetails['config_path']" class="file-button"
              href="{{ apiBaseUrl }}api/optimization/config.yaml?id={{ optimizationDetails.id }}&token={{ token }}"
              target="_blank">
              Show config</a>
          </td>
        </tr>
        <tr *ngIf="framework.toLowerCase() === 'pytorch'">
          <th>log path</th>
          <td class="pointer">
            <a *ngIf="optimizationDetails['log_path']" class="file-button"
              href="{{ apiBaseUrl }}api/optimization/output.log?id={{ optimizationDetails.id}}&token={{ token }}"
              target="_blank">
              Show optimization patch</a>
          </td>
        </tr>
        <tr *ngIf="framework.toLowerCase() !== 'pytorch'">
          <th>log path</th>
          <td class="pointer">
            <a *ngIf="optimizationDetails['log_path']" class="file-button"
              href="{{ apiBaseUrl }}api/optimization/output.log?id={{ optimizationDetails.id}}&token={{ token }}"
              target="_blank">
              Show output</a>
          </td>
        </tr>
        <tr>
          <th>execution command</th>
          <td class="pointer" (click)="copyToClipboard(optimizationDetails['execution_command'])"
            [matTooltip]="'Copy execution command to clipboard'">
            {{ optimizationDetails['execution_command'] }}
          </td>
        </tr>
      </table>
    </div>

    <ng-container *ngIf="chartsReady">
      <div class="item" *ngIf="this.historyData['accuracy'][0]['series'].length > 1">
        <h2>Accuracy - tuning history</h2>
        <p class="chart">
          <ngx-charts-line-chart #accChart class="inline" [view]="viewLine" [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [results]="historyData['accuracy']" [xAxisTickFormatting]="axisFormat"
            [referenceLines]="referenceLines.accuracy" [showRefLines]="true" [showRefLabels]="true">
          </ngx-charts-line-chart>
        </p>
      </div>

      <div class="item" *ngIf="this.historyData['performance'][0]['series'].length > 1">
        <h2>Performance - tuning history</h2>
        <p class="chart">
          <ngx-charts-line-chart #perfChart class="inline" [view]="viewLine" [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [results]="historyData['performance']" [xAxisTickFormatting]="axisFormat"
            [referenceLines]="referenceLines.performance" [showRefLines]="true" [showRefLabels]="true"
            [yAxisLabel]="'[ms]'">
          </ngx-charts-line-chart>
        </p>
      </div>
    </ng-container>

  </div>
</ng-container>