trigger: none

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
  paths:
    include:
      - neural_compressor
      - setup.py
      - .azure-pipelines/code-scan.yml
      - .azure-pipelines/scripts/codeScan
      - .azure-pipelines/template/docker-template.yml

pool:
  vmImage: "ubuntu-latest"

variables:
  CODE_SCAN_LOG_PATH: ".azure-pipelines/scripts/codeScan/scanLog"

stages:
  - stage: DocStyleCodeScan
    displayName: DocStyle Code Scan
    dependsOn: []
    jobs:
      - job: DocStyle
        displayName: DocStyle
        steps:
          - template: template/code-scan-template.yml
            parameters:
              codeScanFileName: "pydocstyle"
              uploadPath: "pydocstyle.log"

  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
      - job: Bandit
        displayName: Bandit
        steps:
          - template: template/code-scan-template.yml
            parameters:
              codeScanFileName: "bandit"
              uploadPath: "bandit.log"
