trigger: none

pr:
  branches:
    include:
    - master
  paths:
    include:
    - neural_coder

pool: ICX-16C

variables:
  NCODER_CONTAINER_NAME: 'nCoderContainer'

stages:
- stage:
  displayName: Unit Test for Neural Coder
  jobs:
  - job:
    steps:
      - template: template/docker-template.yml
        parameters:
          dockerConfigName: 'commonDockerConfig'
          repoName: 'neural-compressor'
          repoTag: 'py38'
          dockerFileName: 'Dockerfile'
          containerName: $(NCODER_CONTAINER_NAME)

    - script: |
        docker exec $(NCODER_CONTAINER_NAME) bash -c "cd /neural-compressor/.azure-pipelines/scripts \
        && bash install_nc_full.sh \
        && bash ut/run_ncoder.sh"
      displayName: 'Install Neural Compressor and run UT'