<ng-container *ngIf="tokenIsSet">
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="pointer title">
        <img (click)="sidenav.toggle()" matTooltip="Close menu" class="logo"
          src="./../../assets/074-rewind-reverse.svg">
        <span [routerLink]="['/home']" queryParamsHandling="preserve" matTooltip="Go to home page">
          Intel® Neural Compressor
        </span>
      </div>
      <button type="button" id="system-info-btn" mat-flat-button class="hw-info-button" (click)="showSystemInfo()"
        matTooltip="Show system information">
        <img class="hw-info-img" src="./../../assets/004a-information-solid.svg">
        System info
      </button>
      <button type="button" id="jobs-queue-btn" mat-flat-button class="hw-info-button" (click)="showJobsQueue()"
        matTooltip="Show jobs queue">
        <img class="hw-info-img" src="./../../assets/289a-checklist-solid.svg">
        Jobs queue
      </button>
      <app-menu></app-menu>

      <mat-toolbar class="theme-container">
        <div class="flex-stretch"></div>
        <img class="theme-img" src="./../../assets/221a-sunny-day-solid.svg">
        <mat-slide-toggle [formControl]="toggleControl">
        </mat-slide-toggle>
        <img class="theme-img" src="./../../assets/222-night.svg">
      </mat-toolbar>

    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngIf="!sidenav.opened" class="pointer title-hidden">
        <img (click)="sidenav.toggle()" matTooltip="Open menu" class="logo" src="./../../assets/073-menu.svg">
        <span [routerLink]="['/home']" queryParamsHandling="preserve" matTooltip="Go to home page">
          Intel® Neural Compressor
        </span>
      </div>
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
      <div class="footer-wrapper">
        <footer class="footer">
          <p>
            © Intel Corporation
          </p>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>