auto-round
auto-round-lib
compressed-tensors
datasets
deepspeed @ git+https://github.com/HabanaAI/DeepSpeed.git@1.23.0
expecttest
numpy
peft
prettytable
psutil
pytest
torchao
torchvision
transformers < 5.0.0
