onnx==1.9.0; python_version < '3.10'
onnx==1.13.0; python_version == '3.10'
onnxruntime==1.10.0; python_version < '3.10'
onnxruntime==1.12.0; python_version == '3.10'
intel-tensorflow==2.10.0
torch
onnxruntime-extensions; python_version < '3.10'
pillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
