<div class="container">
  <mat-spinner style="margin:0 auto;" mode="indeterminate" class="big-spinner-center"
    [style.display]="showSpinner ? 'block' : 'none'">
  </mat-spinner>
  <div class="item-no-background width-300">
    <h3 class="center width-300">Models</h3>
    <mat-button-toggle-group class="width-300" [(ngModel)]="modelId" (change)="getOpList(modelId)" vertical="true">
      <mat-button-toggle *ngFor="let model of models" [value]="model.id" [matTooltip]="model.name">
        {{ model.name | longName:30 }}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <h3 class="center width-300">Actions</h3>
    <button mat-raised-button color="accent" class="width-300 margin-5px" (click)="openModelWiseDialog()">
      <img src="./../../assets/016-edit-white.svg">
      Model wise
    </button>
    <br>
    <button [disabled]="objectKeys(updatedValues).length === 0 && objectKeys(modelWise).length === 0" mat-raised-button
      color="accent" class="width-300 margin-5px" (click)="applyChanges()">
      <img src="./../../assets/056a-save-solid-white.svg">
      Generate configuration
    </button>
    <br>
    <button [disabled]="objectKeys(updatedValues).length === 0 && objectKeys(modelWise).length === 0" mat-raised-button
      class="width-300 margin-5px" (click)="viewConfiguration()">
      <img
        [attr.src]="objectKeys(updatedValues).length === 0 && objectKeys(modelWise).length === 0 ? './../../assets/052a-browse-preview-solid-white.svg' : './../../assets/052a-browse-preview-solid-gray.svg'">
      View configuration
    </button>
    <br>
    <br>
    <mat-card class="property-card" *ngIf="nodeDetails">
      <h3>Node properties</h3>
      <table class="property-table">
        <tr>
          <td class="table-key">type</td>
          <td class="table-value">{{ nodeDetails.properties.type }}</td>
        </tr>
        <tr>
          <td class="table-key">name</td>
          <td class="table-value">{{ getLabel(nodeDetails.properties.name) }}</td>
        </tr>
      </table>
      <h3>Node attributes</h3>
      <table class="property-table">
        <tr *ngFor="let attribute of nodeDetails.attributes[0] | keyvalue">
          <td class="table-key">{{ attribute.key | underscoreToSpace }}</td>
          <td class="table-value">{{ attribute.value }}</td>
        </tr>
      </table>
    </mat-card>

  </div>

  <div [ngClass]="{'item': true, 'graph': showOps, 'graph-100': !showOps}">
    <app-graph [modelPath]="modelPath" [showOps]="showOps" [diagnosisTabParams]="opDetails"
      (showNodeDetails)="showNodeDetails($event)">
    </app-graph>
  </div>

  <div *ngIf="showOps" class="item-no-background op-table">
    <mat-card class="overflow">
      <table *ngIf="opList && opList[0]" matSort (matSortChange)="sortData($event)" class="rounded">
        <tr>
          <th class="header" [mat-sort-header]="parameter.key"
            *ngFor="let parameter of opList[0] | keyvalue : returnZero">
            {{ parameter.key }}
          </th>
        </tr>
        <tr *ngFor="let op of sortedOpList" [ngClass]="{'active': op['OP name'] === activeOp, 'pointer': true}"
          (click)="getOpDetails(modelId, op['OP name'])" matTooltip="Click to see details">
          <td [ngClass]="typeOf(parameter.value) === 'number' ? 'align-right nowrap cell' : 'cell'"
            *ngFor="let parameter of op | keyvalue : returnZero">
            <span *ngIf="parameter.key === 'OP name'" matBadgeOverlap="false"
              [matBadge]="updatedValues[parameter.value] ? objectKeys(updatedValues[parameter.value]).length : null"
              [matBadgeHidden]="!updatedValues[parameter.value] || objectKeys(updatedValues[parameter.value]).length === 0">
              {{ parameter.value }}
            </span>
            <ng-container *ngIf="parameter.key !== 'OP name' && parameter.key !== 'MSE'">
              {{ parameter.value | number: "1.2-2" }}
            </ng-container>
            <ng-container *ngIf="parameter.key === 'MSE'">
              {{ parameter.value.toExponential(3) }}
            </ng-container>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>

<div class="container" id="opDetails" [hidden]="!(showOps && activeOp && opDetails && opDetails['OP name'])">
  <mat-card *ngIf="showOps && activeOp && opDetails && opDetails['OP name']" class="item-no-background">
    <table class="rounded">
      <tr>
        <td class="header">{{ opDetails['OP name'] }}
        </td>
      </tr>
    </table>

    <div class="gray-background field">
      <h3>Pattern</h3>
      sequence: {{ opDetails['Pattern']['sequence'] | json }}<br>
      precision:
      <mat-form-field class="select" appearance="outline">
        <mat-select [(ngModel)]="precision"
          (selectionChange)="updateValue('precision', precision, opDetails['OP name'])">
          <mat-option *ngFor="let prec of supportedPrecisions" [value]="prec">
            {{ prec }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="field">
      <h3>Weights
        <button mat-raised-button color="primary" class="right" (click)="activeType = 'weights'">
          <img src="./../../assets/291b-line-chart-outlined.svg">
          Get weight histograms
        </button>
      </h3>
      dtype: {{ opDetails['Weights']['dtype'] }}<br>
      granularity:
      <mat-form-field class="select" appearance="outline">
        <mat-select [(ngModel)]="granularity" [disabled]="precision === 'float32'"
          (selectionChange)="updateValue('granularity', granularity, opDetails['OP name'])">
          <mat-option *ngFor="let gran of ['per_channel', 'per_tensor']" [value]="gran">
            {{ gran }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="gray-background field">
      <h3>Activation
        <button mat-raised-button color="primary" class="right" (click)="activeType = 'activation'">
          <img src="./../../assets/291b-line-chart-outlined.svg">
          Get activation histograms
        </button>
      </h3>
      dtype: {{ opDetails['Activation']['dtype'] }}
    </div>

    <button [disabled]="!updatedValues[opDetails['OP name']]" mat-raised-button color="warn" class="right margin-5px"
      (click)="resetChanges(opDetails['OP name'])">
      &#x2715; Reset changes
    </button>
  </mat-card>

  <mat-card *ngIf="modelId && activeOp && activeType" class="item-no-background">
    <app-histogram [modelId]="modelId" [opName]="activeOp" [type]="activeType"></app-histogram>
  </mat-card>

</div>