transformers>=4.50,<4.52
torch
tiktoken
transformers_stream_generator
peft
sentencepiece
einops
accelerate
datasets
protobuf
auto-gptq
openpyxl
wandb
py-cpuinfo
Pillow
torchvision
setuptools
auto-round
